.container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

a:link {
    color: #1C646D;
    text-decoration: none;
}

a:visited {
    color: #A0CD60;
    text-decoration: none;
}

a:hover {
    color: #1F0802;
    text-decoration: none;
}

a:active {
    color: #CEF09D;
    text-decoration: none;
}

body {
    box-sizing:border-box;
    padding:0px;
    margin:0px;
}

header {
    background-color: #1C646D;
}

main {
    box-sizing:border-box;
    padding: 16px;
    margin:0px;
}

footer {
    box-sizing:border-box;
    padding:24px 24px;
    margin:0px;
    background-color:#A0CD60;
    font-size:large;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    border-bottom:solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    padding: 16px;
}

.picture {
    height: 200px;
}

tr:nth-child(even) {
    background-color: #CEF09D;
}
